* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Mukta", sans-serif;
}

#navbar {
  height: 4rem;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  top: 0;
}

#sub-nav {
  height: 4rem;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  top: 4rem;
}

.nav-link {
  text-decoration: none;
  color: blue;
}

.project {
  width: 50%;
  height: auto;
  margin: 1rem;
}

.ticket {
  border-width: 2px;
  border-style: solid;
  padding: 1rem;
}

.open {
  text-decoration: none;
}

.closed {
  text-decoration: line-through;
}
