/* General Styles */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Mukta", sans-serif;
}

body {
  overflow: hidden;
  background-color: #f9f7f7;
}

/* Flexbox Helper Classes */

.flex-container {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

/* General Helper Classes */

.warning {
  color: red;
}

/* Navigation */

#navbar {
  height: 4rem;
  width: 100%;
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ab987a;
  top: 0;
}

.logo-container {
  margin-left: 3rem;
}

.logo {
  color: #0f1626;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

nav:last-child {
  margin-right: 3rem;
}

#sub-nav {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: transparent;
  top: 4rem;
}

.nav-link {
  text-decoration: none;
  color: #f9f7f7;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.nav-button {
  text-decoration: none;
  border-style: solid;
  border-radius: 0.5rem;
  border-width: 2px;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  background-color: #f9f7f7;
}

/* Project Pane */

.project-pane {
  width: 30%;
  border-right-style: ridge;
  border-right-width: 0.5rem;
  overflow: auto;
  padding-top: 1rem;
  height: calc(100vh - 4rem);
}

.project {
  margin: 0 1rem;
}

.project-name {
  font-weight: bold;
  font-size: 5rem;
}

.project-summary {
  font-weight: bold;
  font-size: 2rem;
}

.project-desc {
  font-size: 1.25rem;
}

.project-creator {
  font-weight: bold;
  font-size: 2rem;
}

.project-creator span {
  font-weight: normal;
}

.user-list {
  list-style: none;
  border-width: 2px;
  border-style: solid;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.user-list-items {
  text-decoration: none;
  margin: 1rem;
  align-items: center;
  display: grid;
  grid-template-columns: auto 3.5rem 8rem;
}

/* Ticket Pane */

.ticket-pane {
  width: 70%;
  justify-content: space-evenly;
  overflow-y: scroll;
  flex-wrap: wrap;
  padding-top: 1rem;
  height: calc(100vh - 4rem);
}

.ticket-pane::after {
  content: "";
  display: flex;
  flex-basis: 100%;
  height: 3rem;
  width: 100%;
}

.bug,
.planned-feature,
.update {
  width: 33%;
  height: auto;
}

.ticket {
  border-width: 1px;
  border-style: solid;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem;
  background-color: #f9f7f7;
  color: #0f1626;
}

.open {
  text-decoration: none;
  margin-bottom: 0.75rem;
}

.closed {
  text-decoration: line-through;
  margin-bottom: 0.75rem;
}

.edit-button {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  color: black;
  float: right;
}
