<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>DevTick</title>
  </head>
  <body>
    <!-- add nav bar here -->
    <nav>
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('create_project') }}">Create Project</a>
      <a href="{{ url_for('create_ticket') }}">Create Ticket</a>
    </nav>
  </body>
</html>
