{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<div>
{% if current_user.is_authenticated %}
    <p>Hello, {{ current_user.name }}! Select a project to work on.</p>
    {% for project in current_user.created_projects %}
        <a href="{{ url_for('project', project_id=project.id) }}">{{ project.name }}</a><br>
    {% endfor %}
{% else %}
    <span>Hello, World!</span>
{% endif %}
</div>

{% include "footer.html" %}
{% endblock %}