{% block content %}
{% include "header.html" %}

<div class="flex-col">
    {% if current_user.is_authenticated %}
        {% if not current_user.created_projects %}
            <p>Hello, {{ current_user.name }}! You don't have any projects yet. Click Create Project to get started!</p>
        {% else %}
            <p class="greeting">Hello, {{ current_user.name }}! Select a project to work on.</p>
            <div class="project-container flex-col">
                <ul class="project-list flex-col">
                    <p>Your Projects:</p>
                    {% for project in current_user.created_projects %}
                        <li><a href="{{ url_for('project', project_id=project.id) }}">{{ project.name }}</a></li>
                    {% endfor %}
                </ul>
                {% if current_user.invited_projects %}
                    <ul class="project-list flex-col">
                        <p>Invited Projects:</p>
                        {% for association in current_user.invited_projects %}
                            <li><a href="{{ url_for('project', project_id=association.project_id) }}">{{ association.project.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}


    {% else %}
        <p class="greeting">Hello there! Login or Register a new account to get started! </p>
        <div class="devtick-info">
            <h2>What is DevTick?</h2>
            <p>DevTick is a basic, no-frills ticket tracking system to aid the development process.</p>
            <h2>What can it do?</h2>
            <p>After logging in to an account, the user can create a project. 
                Once on the project page, you can create tickets divided into three categories: Bugs, Planned Features, and Updates. 
                You can also add other users to a project using their email address, and assign them one of three roles: Admin, Editor, or Viewer.
            </p>
        </div>
    {% endif %}
</div>

{% include "footer.html" %}
{% endblock %}