{% include "header.html" %}

<div class="flex-row">
  <div class="project-pane flex-col">
    <nav id="sub-nav">
      {% if is_creator(project.id) %}
       <a href="{{ url_for('edit_project', project_id=project.id) }}" class="nav-button" title="Edit Project Information"><i class="fas fa-edit"></i></a>
      {% endif %}
      {% if is_editor(project.id) or is_admin(project.id) or is_creator(project.id) %}
        <a href="{{ url_for('create_ticket', project_id=project.id) }}" class="nav-button" title="Create New Ticket"><i class="fas fa-plus"></i></a>
      {% endif %}
      <a href="#user-list" class="nav-button" title="View Users"><i class="fas fa-users"></i></a>
      {% if is_admin(project.id) or is_creator(project.id) %}
        <a href="{{ url_for('add_user', project_id=project.id) }}" class="nav-button" title="Add User"><i class="fas fa-user-plus"></i></a>
      {% endif %}
    </nav>
    <div class="project">
      <p class="project-name">{{ project.name }}</p>
      <p class="project-creator">Created by: <span>{{ project.creator.name }}</span></p>
      <p class="project-summary">{{ project.summary }}</p>
      <div class="project-desc">{{ project.description|safe }}</div>
      <span id="user-list"></span>
      {% if project.invited_users %}
        <ul class="user-list">
          <p>Project Members:</p>
          <li class="user-list-items">
            <span>{{ project.creator.name }}</span>
            <span>Creator</span>
          </li>
          {% for user_role, users in project.invited_users|groupby("user_role") %}
            {% for user in users %}
              <li class="user-list-items">
                <span>{{ user.user.name }}</span>
                {% if is_creator(project.id) or is_admin(project.id) %}
                  <!-- <a href="{{ url_for('edit_user', project_id=project.id, user_id=user.user_id) }}">{{ user.user_role }}</a> -->
                  <form method="post" action="{{ url_for('edit_user', project_id=project.id, user_id=user.user.id) }}">
                    <select onchange="this.form.submit()" name="edit-role">
                      <option value="{{ user.user_role }}">{{ user.user_role }}</option>
                      <option value="Viewer">Viewer</option>
                      <option value="Editor">Editor</option>
                      <option value="Admin">Admin</option>
                    </select>
                  </form>
                  <a href="{{ url_for('remove_user', project_id=project.id, user_id=user.user_id) }}" class="nav-button warning">Remove User</a>
                {% else %}
                  <span>{{ user.user_role }}</span>
                {% endif %}
              </li>
            {% endfor %}
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
  <div class="ticket-pane flex-row">
    {% if not project.tickets %}
      <p>This project has no tickets yet. Get started now by clicking Create Ticket!</p>
    {% else %}
      {% for category, tickets in project.tickets|groupby("category") %}
        <div class="{{ category.lower().replace(' ', '-') }} flex-col">
          <span class="category-heading">{{ category }}</span>
          {% for status, items in tickets|groupby("status")|reverse %}
            {% for ticket in items %}
              <div class="ticket">
                {% if not is_viewer(project.id) %}
                  <a href="{{ url_for('edit_ticket', project_id=project.id, ticket_id=ticket.id) }}" title="Edit Ticket"><i class="fas fa-edit edit-button"></i></a>
                {% endif %}
                <p class="{{ status.lower() }} ticket-name">{{ ticket.name }}</p>
                <p class="{{ status.lower() }} ticket-summary">{{ ticket.summary }}</p>
                <div class="{{ status.lower() }} ticket-desc">{{ ticket.description|safe }}</div>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>


{% include "footer.html" %}
