{% include "header.html" %}

<div>
  {% if is_editor(project.id) or is_admin(project.id) or is_creator(project.id) %}
    <a href="{{ url_for('create_ticket', project_id=project.id) }}">Create Ticket</a>
  {% endif %}
  {% if is_admin(project.id) or is_creator(project.id) %}
    <a href="{{ url_for('add_user', project_id=project.id) }}">Add User</a>
  {% endif %}
</div>
<div>
  This is where projects will appear. Project id: {{ project.id }}
  <p>Project Name: {{ project.name }}</p>
  <p>Project Summary: {{ project.summary }}</p>
  <p>Project Description: {{ project.description|safe }}</p>
  <div>
    <p>Project Creator: {{ project.creator.name }}</p>
    {% if project.invited_users %}
    <p>Other Users:</p>
    <ul>
      {% for associated_user in project.invited_users %}
        <li>
          {{ associated_user.user.name }},
          {% if is_creator(project.id) or is_admin(project.id) %}
            <a href="{{ url_for('edit_user', project_id=project.id, user_id=associated_user.user_id) }}"> {{ associated_user.user_role }} </a>
            <a href="{{ url_for('remove_user', project_id=project.id, user_id=associated_user.user_id) }}">Remove User</a>
          {% else %}
            <span>{{ associated_user.user_role }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% for ticket in project.tickets %}
    {% if ticket.status == "Open" %}
      <div>
        <p>Ticket Name: {{ ticket.name }}</p>
        <p>Ticket Summary: {{ ticket.summary }}</p>
        <p>Ticket Description: {{ ticket.description|safe }}</p>
        {% if not is_viewer(project.id) %}
          <a href="{{ url_for('edit_ticket', project_id=project.id, ticket_id=ticket.id) }}">Edit Ticket</a>
        {% endif %}
      </div>
    {% else %}
      <div>
        <s><p>Ticket Name: {{ ticket.name }}</p>
        <p>Ticket Summary: {{ ticket.summary }}</p>
        <p>Ticket Description: {{ ticket.description|safe }}</p></s>
        {% if not is_viewer(project.id) %}
          <a href="{{ url_for('edit_ticket', project_id=project.id, ticket_id=ticket.id) }}">Edit Ticket</a>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
  {% if not project.tickets %}
  <p>
    This project has no tickets yet. Get started now by clicking Create Ticket!
  </p>
  {% endif %}
</div>

{% include "footer.html" %}
